*.o
*.dSYM
*.csv
*.out
*.pyc
.fuse*
libuwimg*
uwimg

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
dog4x-nn.jpg
dog4x-bl.jpg
dog7th-bl.jpg
dog7th-nn.jpg
dog-vemboss.jpg
dog-emboss.jpg
dog-hemboss.jpg
dog-highpass.jpg
dog-sharpen.jpg
dog-gauss2.jpg
dog-color-sobel.jpg
